.responsive {
    width: 100%;
    height: auto;
   
}
.todo {
    display: flex;
    gap:10px;
    justify-content: center; 
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(3, 0, 2);
    border-radius: 20px;
    max-width: 350px;
    min-width: 200px;
    margin-left:5px;
    background: linear-gradient(rgb(89, 84, 84), #fbf3f3); ;
    box-shadow: 5px 5px 5px rgb(184, 181, 181);
    position: relative; 
}
.data {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.card-heart {
    padding-left: 15px;
    margin: 10px;
}
.card-content {
    display: flex;
}
.card-commenti {
    padding-top: 9px;
}
.card-footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: medium;
}
.card-header {
    display: flex;
}
.card-header-avatar {
    display: flex;
    align-items: center;
    gap: 2px;
}
.user {
    line-height: 3px;
}
.footer {
    margin-top: -20px;
}
@media(max-width: 988px) {
    .todo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
    }
    .todo {
        justify-self: center;
        align-self: center;
    }
}
@media (max-width:600px) {
    .todo {
        display: flex;
        flex-direction: column;
}
.card-wrapper{
    margin: 1rem auto;
}
}

.dot{
    position: absolute;
    right: 0.5rem;
    top:0.8rem; 
}
